@use '@shared/styles/breakpoints' as breakpoints;

.layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

@media (min-width: breakpoints.$wide) {
  .layout {
    grid-template-columns: minmax(300px, 0.88fr) minmax(470px, 1.12fr);
  }
}
